@charset "utf-8";

/* ***********Estilos generales ********************************************/
* {
    margin:0px;
    padding:0px;
}
img{
	width: 90%;
	height:250px;
}
    table{
        border: #2567A1;
	}
	
/* Encabezado */
header{
    background-color: aqua;
    font-weight: 100%;
    height: 90px;
}
#header {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(226, 245, 243);
}

/* Lista-navegador */
nav{
    position:sticky;
    top:0;
    width: 100%;
    
}
ul{
    list-style:none;
    overflow: hidden;
    border : 1px solid rgba(245, 245, 245, 0.932);
}
.nav li a {
    background-color:rgba(226, 243, 243, 0.329);
    color:rgb(66, 51, 75);
    font-family: inherit;
   
    text-decoration:none;
    font-size: 100%;
    padding:25px 80px;
	display:block; 
	float:left;
	
}

.nav li a:hover {
    background-color:rgb(73, 127, 189);
}
/* Ofertas*/
.oferta {
    width:60%;
    height: 30%;
    clear:both;
    border:1px solid rgb(87, 73, 73);
    padding-bottom: 12%;
    margin:1%;
    border-radius: 0% 2% 2% 0%; 
    background-color: antiquewhite;
}
.oferta img{
    width:20%;
    box-shadow:
	2px 4px 8px 0 rgba(87,20,20,0.4),
	2px 6px 20px 0 rgba(87,20,20,0.3);
}
.oferta img,.oferta p{
    float:left;
    margin:1%;
}
.oferta h2{
    color:rgba(146, 86, 86, 0.922);
}
.precios{
    margin-left: 55%;
}
.antiguoPrec{
    text-decoration: line-through;
}
.nuevoPrec{
    font-size: 150%;
    color:red;
    margin-left: 1%;
}

/* ***************Aside************* */










/* *******************Footer******************* */
footer{
    background-color: rgb(87, 73, 73);
    color:white;
    padding:1%;
}
footer a{
    color:white;
}
footer img{
    width:5%;
    height: 5%;
    margin-left:20%;
}
.politicas{
    margin-left:2%;
}
.redesSociales{
    margin-left:25%;
    
}
.fab{
    font-size: 170%;
    margin:1%;   
}

